canvas {
    border:1px solid #d3d3d3;
    background-color: #f1f1f1;
}

#div2 {
    border-left: 5px solid #4775d1;
    background-color: #f2f2f2;
}

#div1 {
    border-left: 5px solid #009933;
    background-color: #f2f2f2;
}

#div3 {
    border-left: 5px solid #ff3333;
    background-color: #f2f2f2;
}

#scrollBox{
    height:300px;
    width:100%;
    border:1px solid #ccc;
    /* font:16px/26px Georgia, Garamond, Serif; */
    overflow:auto;
}

#textChat{
    height:250px;
    width:95%;
    border:1px solid #ccc;
    margin-left: 1%;
    /* font:16px/26px Georgia, Garamond, Serif; */
    overflow:auto;
}
