<<<<<<< HEAD
<!DOCTYPE html>
<html>
<head>

	    <% include ../partial/header %>

<body>


	<div class="jumbotron">
		<h1>IM A HEADER</h1>
	</div> 

	<div class="container">
		<div class="row">
			<div class="col-md-12" id="output">CONTENT</div>

		</div>


	</div>

</body>
=======
<!DOCTYPE html>
<html>
<head>

	    <% include ../partial/header %>

<body>


	<div class="jumbotron">
		<h1>IM A HEADER</h1>
	</div> 

	<div class="container">
		<div class="row">
			<div class="col-md-12" id="output">CONTENT</div>

		</div>


	</div>

</body>
>>>>>>> 7818da54e0dc9719bad0999aa818da8fa35dbd2c
</html>