<!DOCTYPE html>
<html>
<head>


    <% include ../partial/header %>
    <% include ../partial/scripts %>


<body onload="init()">

    <div class="jumbotron ">
        Username:
        <input type="text" id="newGameText" value="Bert">

        <button id="newGame" onclick="startNewGame()">New Game</button>
        <button id="connector" onclick="webSoc()">Connect To Chat Server</button>

    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-4" id="div2">
                <h1>MoveList</h1>

                <button id="OffButton" onclick="addMove()">Add Move</button></div>
            <div class="col-md-4" id="div3">
                <h1>Turn Setup</h1>
                <input type="text" id="inOff" value="jab,jab,cross"><br>
                <input type="text" id="inDef" value="Neutral"><br>

                <button id="otherbutton" onclick="getTurn()">GET</button>
                <button id="clearMoves" onclick="$('#inOff').val('');$('#inDef').val('');">Clear</button>


            </div>
            <div class="col-md-4" id="div1">
                <h1>Defensive Posture</h1>
                <button id="DefButton" onclick="addStance()">Select Stance</button></div>

            </div>
        </div>

        <div class="row">
            <div class="col-md-4" >
                <div id="textChat"></div>
                <input type="text" id="textEntry" value="" style="width:80%; margin: 10px">
                <button id="sendChat" onclick="sendChat()">Send</button>


            </div>

            <div class="col-md-7" id="scrollBox">
            </div>
        </div>

        <div class="row">
            <div class="col-md-4" id="tables"></div>

            <div class="col-md-8" id="Boxes"></div>
        </div>
    </div>

</body>
</html>
