<!DOCTYPE html>
<html>
<head>


    <% include ../partial/header %>
    <% include ../partial/scripts %>


<body onload="init()">

    <div class="container">
        <div class="row">
            <div class="col-md-4" id="div2">
                <h1>MoveList</h1>

                <button id="OffButton" onclick="addMove()">Add Move</button></div>
            <div class="col-md-4" id="div3">
                <h1>Turn Setup</h1>
                <input type="text" id="inOff" value="jab,jab,cross"><br>
                <input type="text" id="inDef" value="Neutral"><br>

                <button id="otherbutton" onclick="getTurn()">GET</button>
                <button id="clearMoves" onclick="$('#inOff').val('');$('#inDef').val('');">Clear</button>


            </div>
            <div class="col-md-4" id="div1">
                <h1>Defensive Posture</h1>
                <button id="DefButton" onclick="addStance()">Select Stance</button></div>

            </div>
        </div>

        <div class="row">
            <div class="col-md-6" id="tables"></div>
            <div class="col-md-5" id="scrollBox">
            </div>
        </div>

        <div class="row">
            <div class="col-md-12" id="Boxes"></div>
        </div>
    </div>

</body>
</html>
